@font-face {
    font-family: azo;
    src: url(/fonts/Azonix.otf);
}

@font-face {
    font-family: cov_b;
    src: url(/fonts/Coves\ Bold.otf);
}

@font-face {
    font-family: cov_l;
    src: url(/fonts/Coves\ Light.otf);
}
:root,
:root.light{


    --main-radius: 5px;
    --main-padding:10px;

    --main-hfilter: #1b3a4b;
    --main-hfilter2: #065a60;
    --main-placeholderfilter: 0;
    --main-tbackground: #032332;
    
    --main-textureBG: #03233249;
    --main-buttonFill: #d5dadd;

    --main-hoverbg: #01465d;

    --main-bordercolor: #413e3eb1;


    --main-htextColor: #f8f9fa;
    --main-htextColor1: #acacac;
    --main-ttextColor: #000000;

    --main-sectionHighlight: #065a6024;
    --bgTexture: url(./images/textur1invert.png);
    
}

:root.dark{
    --main-radius: 5px;
    --main-padding:10px;

    --main-hfilter: #1b3a4b;
    --main-hfilter2: #065a60;
    --main-placeholderfilter: 1;
    --main-tbackground: #032332;

    --main-textureBG: #032332;
    --main-buttonFill: #032332;

    --main-hoverbg: #01465d;

    --main-bordercolor: #cecacaa4;

    --main-htextColor: #f8f9fa;
    --main-htextColor1: #acacac;
    --main-ttextColor: #f9f9f9;

    --main-sectionHighlight: #032a2cca;

    --bgTexture: url(./images/textur1.png);
    
}

*{
    font-family: 'cov_b', 'azo','Open Sans';
    color: var(--main-ttextColor);
    
    
}
body{
    background: var(--main-textureBG);
    background-image:  var(--bgTexture);
    
    margin: 0px;
    
    line-height: 1.7rem;
    zoom: 80%;

}

.navbar{
    position: absolute;
    display: flex;
    align-items: center;
    
    max-height: 65px;
    left: 0;
    right: 0;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 100;
    
    opacity: 1;
    
    

    padding-top: var(--main-padding);
    justify-content: space-between;

    

}

.logo{
    justify-content: center;
    align-items: center;
    height: 50px;
}

.logo.isActive, .logo:hover{
    background-color: var(--main-hoverbg);
    border-radius: 99px;
    
}

header logo svg{
    position: relative;
    max-height: 65px;

    opacity: 1;
    filter: invert(0);
    
}

nav button{
    display: none;
    position: absolute;
}

nav .menu{
    top: 10px;
    flex: 1 1 0%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    
}

nav .menu a{
    color: var(--main-htextColor);
    margin: 0 16px;
    font-weight: 600;
    font-size: medium;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

nav .menu a.isActive, nav .menu a:hover{
    background-color: var(--main-hoverbg);
    color: var(--main-htextColor1);
}


.headWrap{
    display: flex;
    max-height: 40vh;
    top: 0px;
    left: 0;
    right: 0;
    min-height: 250px;
    

    background: var(--main-tbackground); /*.............................................. */
    position: relative;
    align-items: center;
    justify-content: center;
    

    background-size: cover;
    background-position: center center;
}

.overlay{
    max-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    min-height: 250px;
    opacity: 0.7;
    background: linear-gradient(to bottom, var(--main-hfilter), var(--main-hfilter2));
    position: absolute;
    box-shadow: 0px 0px 100px 0px;
    color: #000000;
    background-position: center;
    background-size: cover;

    
}

.headWrap .text{
    z-index: 2;
    color: var(--main-htextColor);
    font-size: 40px;
    font-weight: bold;
    line-height: 1.7;
    position: absolute;
    padding-top: 60px;
}

.dropNav .menu{
    flex: 1 1 0%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--main-hfilter2);
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    
}
#dropNav{
    display: none;

}



.dropNav .menu a{
    color: var(--main-htextColor);
    margin: 0px 2px;
    font-weight: 600;
    font-size: medium;
    text-decoration: none;
    transition: 0.3s;
    padding: 4px 16px;
    border-radius: 99px;
}

.dropNav .menu a.isActive, nav .menu a:hover{
    background-color: var(--main-hoverbg);
    color: var(--main-htextColor1);
}


section{
    
    display: block;
    align-items: center;
    justify-content: center;
    
}


main{
    align-content: center;
    max-width: 1000px;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
    
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

img{
    border-color: var(--main-bordercolor);
    border-width: 3px;
}

.darkmode-switch{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 1em;
    font-family: 'azo', 'sans-serif';
    font-size: small;

}
#switchLabel{
    color: var(--main-htextColor);
}

.switch{
    padding-left: 1em;
    padding-right: 1em;
}

.switch input{
    display: none;

}

.switch input + div{
    border-radius: 999px;
    height: 100%;
    width: 3em;
    padding: 0.2em;

}

#button{
    
    position: relative;
    width: 45px;
    height: 25px;
    background-color: var(--main-hfilter2);
}



.switch input:checked+div::before{
    transform: translateX(1.5em);    
}

.switch input + div::before{
    content: '';
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background: var(--main-buttonFill);
    transform: translateX(0);
    transition: 0.2s;

}



#about {
    display: block;
    
    
    text-align: center;
    column-count: 2;
    
}




#blankln{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
}
#blankln img{
    
    max-width: 300px;
    width: 40vw;
    filter: invert(var(--main-placeholderfilter));
}

#introText{
    display: block;
    
    padding-left: 50px ;
    padding-right: 50px;
    text-align: center;
    column-count: 1;
}

.left-right {
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    
    gap: 60px;
    
    transition: transform 400ms ease;
    
}
.left-right:hover,.left-right:focus-within {
    background-color: var(--main-sectionHighlight);
    border-color: var(--main-sectionHighlight);
    transform: scale(1.05);
    border-radius: 40px;
    padding: 50px;
    transition: 0.8s;
    animation: ease-in;

}


.left-right img{
    max-width: 200px;
    margin: auto;
    width : 100%;
    border-style: solid;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    grid-area: 'img';


}

.left-right h2{
    text-align: center;
    grid-area: 'h2';
    
}
.left-right p{
    text-align: center;
    grid-area: 'p';
    
}

.right-left {
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
    
    
    gap: 60px;
    
    transition: transform 400ms ease;
    
}

    .right-left:hover,.right-left:focus-visible, .right-left:active{
    background-color: var(--main-sectionHighlight);
    border-color: var(--main-sectionHighlight);
    transform: scale(1.05);
    border-radius: 40px;
    padding: 50px;
    transition: 0.8s;
    animation: ease-in-out;
    
}

.right-left img {
    max-width: 200px;
    margin: auto;
    width : 100%;
    border-radius: 50%;
    object-fit: cover;
    border-style: solid;
    grid-area: 'img';

    aspect-ratio: 1;
}

.right-left h2{
    text-align: center;
    
}
.right-left p{
    text-align: center;

    
}




.persona{
    display: flex;
    gap: 25px;
    padding-left: 7%;
    padding-right: 7%;
}

.persona img{
    max-width: 270px;
    border-radius: 30px;
}

.pCredentials{
    max-height: 450px;
}

.persona h1{
    padding-left: 7%;
}

.persona h5{
    line-height: 0.9rem;
    color: var(--main-ttextColor);
    opacity: 0.7;
    
}

.persona p{
    padding: 5px;
}





footer{
    align-content: center;
    align-self: center;
    background-color: var(--main-hfilter2);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-top: none;
}

footer p{
    padding: 50px;
    text-align: center;
    
}











select{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-hfilter2);
    color: var(--main-ttextColor);
    grid-area: 'sel';

}

#submit{
    display: flex;
    width:150px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    color: var(--main-ttextColor);
    background-color: var(--main-hfilter2);
}



#ans{
    display:none;
}










@media (max-width: 550px){
    main{
        padding-left: 0px;
        padding-right: 0px;
    }


    #introText{
        padding: 0px;
    }
}



@media only screen and (max-width: 850px){
    #about {
        display: block;
        
        text-align: center;
        column-count: 1;
        
    }
}
@media only screen and (max-width: 750px){
    
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.4fr 2fr 0.3fr;

        grid-template-areas: 
            "nav"
            "landingImg"
            "main"
            "footer";
    }


    main{
        margin-left: 50px;
        margin-right: 50px;
    }


    nav .menu{
        display: none;

    }

    nav .darkmode-switch{
        display: none;;
    }

    .dropdown{
        display: block;
        position: relative;
        z-index: 1;
        margin-left: 15px;
        user-select: none;

        appearance: none;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
    }

    .dropdown span{
        display: block;
        width: 33px;
        height:4px;
        margin-bottom: 5px;
        position: relative;

        background-color: var(--main-htextColor);
        border-radius: var(--main-radius);
        z-index: 1;
        
        transform-origin: 0 0;
        transition: 0.4s;
    }

    .dropdown:hover span:nth-child(2){
        transform: translateX(7px);
        background-color: var(--main-htextColor1);
    }

    .dropdown.isActive span:nth-child(1){
        transform: translate(0px, -2px) rotate(45deg);
    }

    .dropdown.isActive span:nth-child(2){
        opacity: 0;
        transform: translateX(20px);

        
    }

    .dropdown.isActive span:nth-child(3){
        transform: translate(-3px, 3px) rotate(-45deg);
    }

    .dropdown.isActive:hover span{
        background-color: var(--main-htextColor1);
    }

    #dropNav.isActive{
        display: flex;
    }

    #text{
        grid-area: text;
    }

    

    .left-right, .right-left{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'img'
        'text'
        ;
        grid-template-areas: 
        'text'
        'sel'
        ;

        
    }

    .persona{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .pCredentials{
        max-height: 400px;
        text-align: center;
    }
    


}
