

.grid{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
    row-gap: 70px;
    padding: 16px;
    
    grid-template-columns: 1fr;
    

    transition: transform 400ms ease;
}

.gridbox{
    text-align: flex;
    padding: 20px;
    height: 440px;
    border-radius: 160px;
    border-style: none;
    
    min-width: 225px;
    transition: transform 500ms ease-in;
}   

.gridbox:hover,.gridbox:focus-visible,.gridbox:active{

    background-color: var(--main-sectionHighlight);
    border-color: var(--main-sectionHighlight);
    
    border-radius: 20px;
    transform: scale(1.05);
    transition: 1s;
    animation: ease-in-out;

}

.light .gridbox{
    border-style: none;
} 


.gridbox img{
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 210px;
    max-height: 210px;
    width: 100%;
    height: 100%;

    
    border-style: solid;
    border-radius: 50%;
    
}

.gridbox p{
    margin-left: 15px;
    margin-right: 15px;

    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 0px) {
    .grid{
        margin-left: 0px;
        margin-right: 0px;
   }

   
}

@media (min-width: 470px){
    .grid{
        margin-left: 50px;
        margin-right: 50px;
   }  

}


@media (min-width: 550px){
    .grid{
         margin-left: 80px;
         margin-right: 80px;
    } 
    main{
        padding-left: 30px;
        padding-right: 30px;
    }

 }

@media (min-width: 650px){
    .grid{
        
        display: grid;
        grid-gap: 50px;
        margin-left: 70px;
        margin-right: 70px;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 750px) {
    .grid{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (min-width: 820px) {
    .grid{
        margin-left: 120px;
        margin-right: 120px;
    }
}

@media (min-width: 980px) {
    .grid{
        display: grid;
        grid-gap: 50px;
        margin-left: 70px;
        margin-right: 70px;
        grid-template-columns: 1fr 1fr 1fr;

        
    }

    .gridbox{
        max-width: 200px;
    }
}




.ticked{
    background-color: var(--main-hfilter2);
}


